
.icon-graph:before { content: '\e800'; } /* '' */
.icon-cog:before { content: '\e801'; } /* '' */
.icon-params:before { content: '\e802'; } /* '' */
.icon-chart:before { content: '\e803'; } /* '' */
.icon-database:before { content: '\e804'; } /* '' */
.icon-arrows-ccw:before { content: '\e805'; } /* '' */
.icon-users-outline:before { content: '\e806'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
